<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pcwk.ehr.calendar">
  
  <select id="doSelectMonth" parameterType="CalendarVO" resultType="WeekVO">
	SELECT 
       MAX(DECODE(DAY_OF_WEEK,'일',day)) "sun"
      ,MAX(DECODE(DAY_OF_WEEK,'월',day)) "mon"
      ,MAX(DECODE(DAY_OF_WEEK,'화',day)) "tue"
      ,MAX(DECODE(DAY_OF_WEEK,'수',day)) "wed"
      ,MAX(DECODE(DAY_OF_WEEK,'목',day)) "thu"
      ,MAX(DECODE(DAY_OF_WEEK,'금',day)) "fri"
      ,MAX(DECODE(DAY_OF_WEEK,'토',day)) "sat"
	FROM calendar
	WHERE MONTH = #{month}
	GROUP BY WEEK_NO
	ORDER BY WEEK_NO
  </select>
  
  
</mapper>