<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pcwk.ehr.schedule">

 	<select id="getCount" resultType="int" parameterType="ScheduleVO">
	     SELECT                   
	        COUNT(*) cnt         
		 FROM                     
		    schedule                
    </select> <!-- users 테이블에있는 email갯수 카운팅 하는 쿼리 -->
 
	<delete id="doDelete" parameterType="ScheduleVO">
	    DELETE FROM schedule 
	    WHERE  schedule_id = #{scheduleID}
    </delete> <!--  회원 삭제 쿼리  -->
  
  <update id="doUpdate" parameterType="ScheduleVO">
	UPDATE schedule
	SET  
	    cal_id = #{calID},
	    title = #{title},
	    explanation = #{explanation}
	WHERE schedule_id = #{scheduleID}
  </update>
  
  
  <select id="getScheduleSeq" resultType="int">
     SELECT SCHEDULE_SEQ.NEXTVAL FROM DUAL
  </select>
  
  <select id="doSelectOne" parameterType="ScheduleVO" resultType="ScheduleVO">
	SELECT
	    schedule_id,
	    cal_id,
	    title,
	    explanation
	FROM    schedule
	WHERE schedule_id = #{scheduleID}     
  </select>
  
  <insert id="doSave" parameterType="ScheduleVO">
	INSERT INTO schedule (
	    schedule_id,
	    cal_id,
	    title,
	    explanation
	) VALUES (
	    #{scheduleID},
	    #{calID},
	    #{title},
	    #{explanation}
	)
  </insert>
  
</mapper>